/*
Lavendar - #DBD2E3
Steel Purple - #A9BBD3 
good purple - #A4A3CD
*/

@import url(http://fonts.googleapis.com/css?family=Handlee);

header {color:silver;
    width: 60%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}
a {color: gray;}
a:hover {
	color:#A4A3CD ;
	font-weight: bold;
	text-decoration: none;
}
h1 {font-family: 'Handlee', cursive; color: gray;}
h2{color: #CD601D;}
h3{color:#CD601D;}
body{font-family:'Handlee', cursive, "Times New Roman", serif;

background-color: #414140; color: white; padding: 25px;  background-image: url(http://static.squarespace.com/static/52914768e4b09bd01793dddd/t/52ddbd4ee4b0a28390eb012f/1390263630763/Chevron-wallpaper-DL.jpg);}


.site-footer a{
font-size: 1em;
color: gray;
    text-decoration: none;
}

.site-footer a:hover{
color:#A4A3CD ; text-decoration: underline;
}



    .main {
        background-color:#C05D79 ;
        width: 60%;
        height: ;
        float: left;
        padding: 50px;
        border: 5px solid #CD601D;
        margin: 10px;
        }
    .sidebar {
        background-color: #C05D79;
        width: 20%;
        height: 28.2em;
        float: right;
        padding: 40px;
        border: 5px solid #CD601D;
        margin: 10px
        }



.content-wrapper{
        width: 10%;
    padding:inherit;
    margin: 0 auto;
    padding-top: 100px;
    }

    .site-footer {
        background-color: #DBD2E3;
        text-align: center;
        width: 98%;
        height: auto;
        display: inline-block;
