

@import url(http://fonts.googleapis.com/css?family=Handlee);


header {color:black;
    width: 60%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}


body{

background-color: #AF0D5E; padding: 25px;  background-image: url(http://static.squarespace.com/static/52914768e4b09bd01793dddd/t/52ddbd4ee4b0a28390eb012f/1390263630763/Chevron-wallpaper-DL.jpg); }

body{font-family: Handlee, cursive, Verdana; }


a:link {color: #AF0D5E;}
a:hover {
	color:#AF0D5E ;
	font-weight: bold;
	text-decoration: none;
}


.container-fluid{background-color: #F4EBC3; border: 5px solid #CD601D; }

.contact1{   background-color:#AF0D5E ;
        width:auto;
        height: 28.2em; 
        padding-right: 150px;
    padding-left: 150px;
        border: 5px solid #CD601D;
        margin: 10px;}

    .main {
        background-color:#AF0D5E ;
        width: 67%;
        height: 58em; 
        float: left;
        padding: 40px;
        border: 5px solid #f4ebc3;
        margin: 10px;
        font-family: Handlee, cursive, Verdana;
        color:#f4ebc3;
            text-align:center;

        }

.main h1{color: #CD601D;}
.main2 ul{list-style:inside;}
.main ul{list-style:inside;}
.main2 a{color:#AF0D5E;}
.main2 h1{text-align: center;}
.main2 h2{color:#AF0D5E;}
   .main2 {
        position: absolute;
    left:25%;
    right:50%;
        background-color:#CD601D;
        width:50%;
        height: 65em;
        padding: 40px;
      
        background-color:#f4ebc3 ; 
        padding:20px;
        border: 5px solid #AF0D5E;
        margin: 10px;
        font-family: Handlee, cursive, Verdana;
        color:#CD601D;
           
    width:50em

        }

    .sidebar {
        background-color:#CD601D;
        width:30%;
        height: 28.2em;
        float: right;
        padding: 20px;
        border: 5px solid #AF0D5E ;
        margin: 10px;
        
    color:  #f4ebc3;
        }
.sidebar2{ background-color:#f4ebc3 ;
        width:30%;
        height: 25.2em;
        float: right;
        padding: 40px;
        border: 5px solid #CD601D;
        margin: 10px;
    font-family: Handlee, Verdana, cursive;
    color:#AF0D5E;
    text-align: center;
        }
.sidebar3{ background-color:#f4ebc3 ;
        width:30%;
        height: 28.2em;
        float: right;
        padding: 40px;
        border: 5px solid #CD601D;
        margin: 10px;
    font-family: Handlee, Verdana, cursive;
    color:#AF0D5E;
    text-align: center;
        }

.pic {background-color:#AF0D5E;
        width: 20%;
        height: 28.2em;
        float: right;
        padding: 40px;
        border: 5px solid #CD601D;
        margin: 10px;}

.sbar{
    position: absolute;
    left:25%;
    right:50%;
        background-color:#CD601D;
        width:50%;
        height: 21.2em;
        padding: 40px;
        border: 5px solid #AF0D5E ;
        margin: 10px;
    font-family: Handlee, cursive, Verdana;
    text-align: center;
        color:#f4ebc3;}

.sbar h1{ color:#AF0D5E;}
.sbar h2{ color:#f4ebc3;}
.sbar2 li{text-align: left;}

.sbar2{background-color:#AF0D5E;
        width:40%;
        height: 28.2em;
        padding: 40px;
        border: 5px solid #CD601D ;
        margin: 10px;
        color: #f4ebc3;
 font-family: Handlee, cursive, Verdana;
    text-align: center;}
.sbar2 a{color:#CD601D;}

    



    